@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Kalam');


body {
  margin: 0;
  padding-top: 5vh;
  background: linear-gradient(to right, #2a0845, #6441A5);
  font-family: "Montserrat";
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  user-select: none;
}

h1 {
  margin: 1vh auto;
}

#board {
  margin: 0 auto;
  width: 65vmin;
  height: 65vmin;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
}

.space {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10%;
  width: 18vmin;
  height: 18vmin;
  background: linear-gradient(230deg,rgba(205, 205, 205, 0.3) 40%, rgba(205, 205, 205, 0.65)) 100%;
  color: black;
  font-family: "Kalam";
  font-size: 10vmin;
  cursor: pointer;
}

button {
  background: none;
  outline: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 1.1rem;
  cursor: pointer;
}
